<a href="https://colab.research.google.com/github/bpunar/PANDAS-EXERCISES/blob/main/exercise_get_dummies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

29.01.2022 
Get Dummies

In [2]:
import numpy as np
import pandas as pd

In [ ]:
d = {'key': ['A', 'B', 'C', 'A','B','C'], 'data1': [0, 1, 2, 3, 4, 5], 'data2' : [5, 0, 3, 3 ,7, 9]}
df = pd.DataFrame(data=d)
df

In [6]:
df = pd.DataFrame([('Foreign Cinema', 289.0),
                   ('Liho Liho', 224.0),
                   ('500 Club', 80.5),
                   ('Foreign Cinema', 25.30)],
                  columns =('name', 'Amount'))
df

             name  Amount
0  Foreign Cinema   289.0
1       Liho Liho   224.0
2        500 Club    80.5
3  Foreign Cinema    25.3

In [7]:
pd.get_dummies(df, columns=['name'])

   Amount  name_500 Club  name_Foreign Cinema  name_Liho Liho
0   289.0              0                    1               0
1   224.0              0                    0               1
2    80.5              1                    0               0
3    25.3              0                    1               0

In [8]:
pd.get_dummies(df, columns=['name'], prefix='dmy')

   Amount  dmy_500 Club  dmy_Foreign Cinema  dmy_Liho Liho
0   289.0             0                   1              0
1   224.0             0                   0              1
2    80.5             1                   0              0
3    25.3             0                   1              0

In [9]:
pd.get_dummies(df, columns=['name'], prefix='dmy', prefix_sep="*")

   Amount  dmy*500 Club  dmy*Foreign Cinema  dmy*Liho Liho
0   289.0             0                   1              0
1   224.0             0                   0              1
2    80.5             1                   0              0
3    25.3             0                   1              0

In [10]:
pd.get_dummies(df, columns=['name'], drop_first=True)

   Amount  name_Foreign Cinema  name_Liho Liho
0   289.0                    1               0
1   224.0                    0               1
2    80.5                    0               0
3    25.3                    1               0